{% extends 'base.html' %}

{% block title %} Customer Profile {% endblock %}

{% block header %} Customer Profile {% endblock %}

{% block content %}

<ul style="list-style-type: none">
                <li><h2>Customer name: {{customer.name}}</h2>
                  <br>
                  <h3>Address: {{customer.address}}</h3>
                  <h3>Zip Code: {{customer.zip_code}}</h3>
                  <h3>Pickup Day: {{customer.pickup_day}}</h3>
                  <h3>Balance: ${{customer.balance}}</h3>
                  <h3>One Time Pickup: {{customer.one_time_pickup}}</h3>
                  <h3>Suspension Start: {{customer.suspension_start}}</h3>
                  <h3>Suspension End: {{customer.suspension_end}}</h3>
                  <br><br>
                </li>
</ul>

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{customer.zip_code}}&zoom=13&size=600x300&maptype=roadmap
&key=AIzaSyDVsppAdPA97-3NLqYMMAfMlJdodGjeLUM">

{% endblock %}