{% extends 'base.html' %}

{% block title %}{% block header %} Filter Customers By Day {% endblock %}{% endblock %}

{% block content %}

<h3 class="daily_update_day">
  <a class="days" href="{% url 'employees:daily_view_update' 'Monday' %}">Monday</a></li>
  <a class="days" href="{% url 'employees:daily_view_update' 'Tuesday' %}">Tuesday</a></li>
  <a class="days" href="{% url 'employees:daily_view_update' 'Wednesday' %}">Wednesday</a></li>
  <a class="days" href="{% url 'employees:daily_view_update' 'Thursday' %}">Thursday</a></li>
  <a class="days" href="{% url 'employees:daily_view_update' 'Friday' %}">Friday</a></li>
  <a class="days" href="{% url 'employees:daily_view_update' 'Saturday' %}">Saturday</a></li>
  <a class="days" href="{% url 'employees:daily_view_update' 'Sunday' %}">Sunday</a></li>
</h3><br>

{% for customers in customer %}
<ul style="list-style-type: none">
  <li><h3>Customer name: {{customers.name}}</h3>
    <h5>Address: {{customers.address}}</h5>
    <h5>Zip Code: {{customers.zip_code}}</h5>
    <h5>Pickup Day: {{customers.pickup_day}}</h5>
    <h5>Balance: ${{customers.balance}}</h5>
    <h5>One Time Pickup: {{customers.one_time_pickup}}</h5>
    <h5>Suspension Start: {{customers.suspension_start}}</h5>
    <h5>Suspension End: {{customers.suspension_end}}</h5>
    <br>
  </li>
</ul>
{% endfor %}

{% endblock %}