{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee, your user name is: {{user.username}}<br>
Your Employee name is: {{employee.name}}<br>

{% for customers in non_suspended_customer %}
<ul style="list-style-type: none">
                <li><h2>Customer name: {{customers.name}}</h2>
                  <br>
                  <h3>Address: {{customers.address}}</h3>
                  <h3>Zip Code: {{customers.zip_code}}</h3>
                  <h3>Pickup Day: {{customers.pickup_day}}</h3>
                  <h3>Balance: ${{customers.balance}}</h3>
                  <h3>One Time Pickup: {{customers.one_time_pickup}}</h3>
                  <h3>Suspension Start: {{customers.suspension_start}}</h3>
                  <h3>Suspension End: {{customers.suspension_end}}</h3>
                  <h3>Is Suspended?: {{customers.is_suspended}}</h3>
                  <a class="link" href="{% url 'employees:confirm' customers.id %}">Confirm Pickup</a>
                  <br><br>
                </li>
</ul>
{% endfor %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}