{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee, your user name is: {{user.username}}<br>
Your Employee name is: {{employee.name}}<br>

{% for customers in non_suspended_customer %}
<ul style="list-style-type: none">
    <br>
        <li><h3>Customer name: {{customers.name}}</h3>
          <h5>Address: {{customers.address}}</h5>
          <h5>Zip Code: {{customers.zip_code}}</h5>
          <h5>Pickup Day: {{customers.pickup_day}}</h5>
          <h5>Balance: ${{customers.balance}}</h5>
          <h5>One Time Pickup: {{customers.one_time_pickup}}</h5>
          <h5>Suspension Start: {{customers.suspension_start}}</h5>
          <h5>Suspension End: {{customers.suspension_end}}</h5>
          <h5>Is Suspended?: {{customers.is_suspended}}</h5>
          <a class="link" href="{% url 'employees:customer_profile' customers.id %}">Customer Profile</a>
          <a onclick="alert_message()" class="link" href="{% url 'employees:confirm' customers.id %}">Confirm Pickup</a>

                <script>
                       function alert_message(){
                       alert("Pickup confirmed")
                       };
                </script>
        </li>
</ul>
{% endfor %}

{% comment "Testing multiple markers on a map" %}
<script>
function initMap() {
  const myLatLng = { lat: -25.363, lng: 131.044 };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: myLatLng,
  });
  new google.maps.Marker({
    position: myLatLng,
    map,
    title: "Hello World!",
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAAFgBqp3QjLkKkjrvqX_TniOmS6I0K73I&callback=initMap" async defer></script>>
{% endcomment %}

{% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}